/*-- scss:defaults --*/
// colors
$payne_gray: #666A86;
$slate_gray: #788AA3;
$cambridge_blue: #92B6B1;
$platinum: #E0E1DD;
$floral_white: #FFFCF2;
$fundo_branco: #FBFBFB;
$black: #353535;
$grey: #717171;
// import google font
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Archivo+Black&family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pathway+Gothic+One&display=swap');

// fonts
$archivo_black: "Archivo Black", sans-serif;

// define quarto variables
$body-bg: $fundo_branco;
$navbar-bg: $cambridge_blue;
$navbar-fg: $black;
$navbar-hl: $payne_gray;

// Set headings font family
$headings-font-family: $archivo_black;

/*-- scss:rules --*/
h1, h2, h3, h4{
  letter-spacing: 1px;
  font-weight: 800 !important;
}

.navbar-brand img {
  max-height: 40px;
  width: auto;
}

.title {
  color: $slate_gray;
}
  
.center-text {
  text-align: center;
}

.orange-text {
  color: orange;
}